In [139]:
from dotenv import load_dotenv
import os
import requests
import json
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd
import geopandas as gpd
from pymongo import MongoClient
import time
from cartoframes.viz import Map, Layer, popup_element

In [2]:
load_dotenv()

True

In [3]:
token = os.getenv("token")
client_id = os.getenv("client_id")
client_secret = os.getenv("client_secret")

In [4]:
#token, client_id, client_secret



##Silicon Valey WORLDWIDE
url 'https://www.businessinsider.es/10-mejores-ciudades-mundo-crear-startup-389559'

    - Bangalore, India
    (lat=12.973068032124507, lon=77.58699418966938)
    
    - San Francisco, USA
    (lat=37.773014882129154, lon=-122.428479164766)
    
    - Stockholm, Swden
    (lat=59.32954071751379, lon=18.05688665859676)

In [5]:
client = MongoClient("localhost:27017")
client.list_database_names()
db = client["Ironhack"]
companies = db.get_collection("companies")
companies

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ironhack'), 'companies')

In [133]:
query = {"offices.0.city": "San Francisco"}
projection = {"_id": 0, "name": 1, "category_code": 1, "founded_year": 1, "total_money_raised": 1, "offices": 1}

san_francisco= list(companies.find(query, projection))


for i in san_francisco:
    i.update({'latitude': i['offices'][0]['latitude'], 'longitude': i['offices'][0]['longitude']})
    del i['offices']
    

df_sf = pd.DataFrame(san_francisco)
#df_sf
df_sf_ll=df_sf.dropna(subset=['latitude', 'longitude'], thresh=1)
df_sf_ll

,name,category_code,founded_year,total_money_raised,latitude,longitude
0,Digg,news,2004.0,$45M,37.764726,-122.394523
1,Twitter,social,2006.0,$1.16B,37.776805,-122.416924
2,StumbleUpon,web,2002.0,$18.5M,37.775196,-122.419204
3,Scribd,news,2007.0,$25.8M,37.789634,-122.404052
4,Powerset,search,2006.0,$22.5M,37.778613,-122.395289
...,...,...,...,...,...,...
763,Calypso Technology,software,1997.0,$0,37.789318,-122.400655
765,Roc2Loc,cleantech,NaN,$2M,37.782475,-122.407764
767,Danoo,advertising,2005.0,$0,37.788852,-122.400863
768,DJ Nitrogen,games_video,2007.0,$0,37.784174,-122.449408
769,Embarcadero Technologies,software,1993.0,$0,37.793949,-122.398062

In [116]:
query = {"offices.0.city": "Bangalore"}
projection = {"_id": 0, "name": 1, "category_code": 1, "founded_year": 1, "total_money_raised": 1, "offices": 1}

bangalore = list(companies.find(query, projection))


for i in bangalore:
    i.update({'latitude': i['offices'][0]['latitude'], 'longitude': i['offices'][0]['longitude']})
    del i['offices']
    

df_bgl = pd.DataFrame(bangalore)
#df_bgl
df_bgl_ll=df_bgl.dropna(subset=['latitude', 'longitude'], thresh=1)
df_bgl_ll

,name,category_code,founded_year,total_money_raised,latitude,longitude
0,Minglebox,web,2006.0,$7M,12.971606,77.594376
1,InstaColl,web,NaN,$0,37.090240,-95.712891
2,TringMe,web,2007.0,$0,37.090240,-95.712891
3,Vaakya Technologies,software,2003.0,$0,12.933644,77.628576
7,Yulop,web,2007.0,$0,35.929723,139.605025
8,BuyerRaja,web,2008.0,$0,13.033353,77.578768
10,Invensis Technologies,other,2000.0,$0,12.971280,77.526770
11,Manam Infotech,software,2008.0,$0,12.975531,77.653739
12,Orbster,mobile,2008.0,â‚¬500k,49.009256,8.410278
13,CareerNet,software,NaN,$0,12.924908,77.550798
14,Guruji,search,2006.0,$15M,12.937677,77.565740
15,Venkat Mangudi Consulting,consulting,NaN,$0,12.909735,77.590524
16,Aumega Networks,web,NaN,$0,12.961894,77.602770
20,eLagaan,web,2008.0,$0,12.971606,77.594376
21,Advanced Millennium Technologies,software,2002.0,$0,12.968308,77.521140
22,GreenLogic India Tecnologies,advertising,NaN,$0,12.909343,77.583398
23,Ninety Degree Internet Software (90di),search,2007.0,$0,12.527394,78.212494
26,eLagaan,web,2008.0,$0,12.971606,77.594376
27,Advanced Millennium Technologies,software,2002.0,$0,12.968308,77.521140
28,GreenLogic India Tecnologies,advertising,NaN,$0,12.909343,77.583398
29,Ninety Degree Internet Software (90di),search,2007.0,$0,12.527394,78.212494
30,Banashri Creatives,software,2006.0,$0,12.956128,77.592264
31,Ziva Software,mobile,2005.0,$1.7M,12.973784,77.643590
33,JobeeHive,network_hosting,2007.0,$0,12.911824,77.630227
38,Aghreni Technologies,software,2008.0,$0,12.956128,77.592264
40,SmartCrowds,public_relations,2007.0,$110k,12.515305,78.222114
41,4am Design and Technology Labs,advertising,2008.0,$0,13.077409,77.588614
42,speroware,software,2005.0,$0,12.928983,77.565254
44,Manthan Systems,analytics,2003.0,$47M,12.970895,77.597675
46,Vividity Consulting,consulting,2005.0,$0,12.961908,77.629936
47,Nalini Networks,software,2007.0,$0,35.267512,139.187075
48,WisdomTap,public_relations,2007.0,$0,12.975855,77.654507
51,Apartment Adda,other,2008.0,$0,12.971606,77.594376
52,Must See India,travel,2007.0,$5M,12.908470,77.600339
54,Babajob,web,2007.0,$0,12.921159,77.555710
56,Soliton Technologies,enterprise,2004.0,$0,13.005640,77.565547
57,IndiMedicos,other,2009.0,$0,12.971606,77.594376
59,SLK Software Services Pvt Ltd,software,2000.0,$0,13.036983,77.565976
60,Earthenhive Architects,other,2009.0,$0,13.014823,77.650310
62,itEANz,software,2006.0,$0,12.933242,77.629558
63,iPOTT Softech India Private Limited,software,2005.0,$0,12.995933,77.610281
65,IndiaOnAPage,software,2009.0,$0,12.916454,77.610117
67,Althea Systems,hardware,2009.0,$3M,12.934960,77.613685
68,OnMobile,mobile,2000.0,$0,45.668063,-94.819966

In [115]:
query = {"offices.0.city": "Stockholm"}
projection = {"_id": 0, "name": 1, "category_code": 1, "founded_year": 1, "total_money_raised": 1, "offices": 1}

stockholm = list(companies.find(query, projection))


for i in stockholm:
    i.update({'latitude': i['offices'][0]['latitude'], 'longitude': i['offices'][0]['longitude']})
    del i['offices']
    

df_stk = pd.DataFrame(stockholm)
#df_stk
df_stk_ll=df_stk.dropna(subset=['latitude', 'longitude'], thresh=1)
df_stk_ll

,name,category_code,founded_year,total_money_raised,latitude,longitude
0,TestFreaks,ecommerce,2006.0,$5.8M,59.333991,18.057120
1,Xindesk,web,NaN,$0,59.336527,18.077451
2,Physical Interaction Lab,hardware,2007.0,$0,59.332788,18.064488
3,Cloudo,web,2006.0,$0,59.336527,18.077451
5,PacketFront,software,2001.0,â‚¬26M,59.332788,18.064488
6,Sportsverige,advertising,NaN,$0,59.332985,18.059144
7,Franson Technology AB,software,2004.0,$0,59.342079,18.057102
8,LBI International,web,1999.0,$0,59.335028,18.061249
9,alaTest,web,2005.0,$0,59.357890,18.067011
11,Royalquiz,web,2007.0,$0,59.336969,18.050035
12,Posh24,games_video,2007.0,$0,59.332788,18.064488
13,Squace,mobile,2006.0,$0,59.345126,18.057069
14,Kamera,games_video,NaN,$0,59.337161,18.057901
15,Mobispine,public_relations,NaN,$0,59.312451,18.100658
16,Jalbum,software,2006.0,$0,59.335897,18.088970
17,Stardoll,games_video,2004.0,$10M,59.345553,18.037611
18,Bambuser,mobile,2007.0,$2.5M,59.332788,18.064488
23,JayCut,enterprise,1996.0,$0,59.335489,18.071735
24,Momail,mobile,2005.0,$5.4M,59.335981,18.075506
26,Booli,search,2007.0,$0,59.334770,18.064694
27,Wayfinder,None,NaN,$0,59.332788,18.064488
28,Ericsson Telecommunications,public_relations,NaN,$0,59.405676,17.954990
31,PopCatcher,mobile,NaN,$0,59.325496,18.072677
32,Bloo,mobile,2008.0,$0,59.349405,18.073094
33,JamesList,ecommerce,2008.0,$0,59.333481,18.081311
34,Syntensia,software,2005.0,$3.5M,59.612126,17.894767
35,Pixlr,software,2008.0,$0,59.332788,18.064488
36,Karolinska,biotech,NaN,$0,59.351153,18.020097
37,Vocab,software,2002.0,â‚¬215k,59.417083,17.919672
38,Trio Enterprises,enterprise,NaN,$0,59.332788,18.064488

In [147]:
sf_lat = 37.7730148
sf_lon = -122.4284791
city = Marker(location = [sf_lat, sf_lon], tooltip= 'City')
city.add